
.inter-tight-normal {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav ul li{
    list-style: none;
    /* margin-right: 51px; */
}
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 700;
    font-size: 34px;
    color: #4E47FF;
}
nav li a{
    font-size: 16px;
   
}
/* header */
.header{
    background-image: url('../Assets/Hero-bg.png');
}

/* shared style */
.secondary-bg{
    color: black;

}
.text-center{
    text-align: center;
}


.btn-primary{
    background-color: #4E47FF;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
       
}


nav ul{
    display: flex;
}
/* banner styles */
.banner-title{
    font-weight: bold;
    font-size: 65px;
    /* align-items: center; */   
}
.banner-title2{
    font-weight: bold;
    font-size: 40px;
}
.banner-pic{
width: 403px;
height: 328px;
}
.banner2{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    
}
.section-title{
    font-size: 38px;
    font-weight: bold;
    color: black;

}
main{
    max-width: 1140px;
    margin: 0 auto;

}
.users .secondary-bg{
     border-radius: 10px;
     padding: 130px 150px;
     text-align: center;
     margin-top: 130px;
}
.about-users{
    display: flex;
    justify-content: space-around;
}
.user-title{
    font-weight: bolder;
    font-size: 80px;

}
.feedback-container{
    display: flex;
    gap: 30px;

}
.feedback{
    padding: 30px;
    border-radius: 14px;
    box-shadow: 3px 3px 3px 3px cadetblue;
    /* width: 300px; */

}
.users say{
    padding: 30px;
}
/* footer style */
footer{
    display: flex;
    padding: 130px 220px;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"],footer textarea
{
     background-color: white;
     display: block;
     padding: 10px 10px;
     margin-bottom: 26px;
     border-radius: 6px;
     width: 100%;


}